<footer class="footer">
  <div class="container">
    <section class="footer-section">
      <p>
        <a class="email" title="E-Mail Stefan Wehrmeyer" href="mailto:mail@stefanwehrmeyer.com">mail@stefanwehrmeyer.com</a> (<a href="/publickey.asc" title="07C9226790B49716">Public Key</a>)
      </p>

      <aside>
        <p>
          Main photo by <a href="http://arduina.net/">Fotografiona</a>.
          <a href="/impressum/">
            Impressum
          </a>
        </p>
      </aside>
    </section>
  </div>
</footer>
