<footer class="footer">
  <section>
    <p>
      <a class="email" title="E-Mail Stefan Wehrmeyer" href="mailto:mail@stefanwehrmeyer.com">mail@stefanwehrmeyer.com</a> (<a href="{{ site.baseurl }}publickey.asc" title="07C9226790B49716">Public Key</a>)
    </p>

    <aside>
      <address id="contact">
        Impressum: Stefan Wehrmeyer
        <span class="street-address">Mainzer Str. 8</span>,
        <span class="postal-code">12053</span> <span class="locality">Berlin</span>,
        <span class="country-name">Germany</span>
      </address>

      <p>
        Main photo by <a href="http://arduina.net/">Fotografiona</a>
      </p>
    </aside>
  </section>
</footer>
