<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Stefan Wehrmeyer</title>

        <link href="{{ site.baseurl }}css/pure-min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="{{ site.baseurl }}css/grids-responsive-min.css">
        <link href="{{ site.baseurl }}css/style.css" rel="stylesheet" />

        <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}img/favicon.png" >

        <meta name="robots" content="index, follow" />
        <meta name="description" content="Stefan Wehrmeyer Homepage, Projects, Blog and Contact Details" />

        <link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider">
        <link rel="openid2.local_id" href="https://openid.stackexchange.com/user/918b09ff-03a4-4df3-8f87-31f3ae081a85">
    </head>
    <body>

      {{ content }}

    </body>
</html>
