---
layout: default

---

<div class="text-center">
  <img class="img-fluid" src="/static/img/blog/{{ page.date|date:"%Y/%m" }}/{% if page.panorama %}{{ page.panorama }}{% else %}{{ page.image }}{% endif %}" alt="{{ page.image_alt }}">
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">

      <h2 class="mt-5 mb-3">
        <a href=".">{{ page.title }}</a>
      </h2>

      <small>{{ page.date|date:"%d.%m.%Y" }}</small>

      <p class="lead">
        {{ page.subtitle }}
      </p>

      {% if page.teaser %}
        <blockquote>
          <p>{{ page.teaser }}</p>
        </blockquote>
      {% endif %}
      {{ content }}
    </div>
  </div>
</div>
